@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .card-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .card-cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
